@import "~bootstrap/scss/vendor/rfs";
$enable-responsive-font-sizes:true;
.title {
  @include responsive-font-size(3.4rem);
  // font-size:8vw;
  margin: 0 0 .5em;
}
.sub-title {
  @include responsive-font-size(1.4rem);
  // font-size:3vw;
  margin: 0 0 .5em;
}
.body-text {
  @include responsive-font-size(1.0rem);
  margin: 0 0 .5em;
}
.footer-text {
  @include responsive-font-size(0.8rem);
  margin: 0 0 .5em;
}